<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fact</title>
</head>
<body>
    <h1>Fact:</h1>
<p> <%= facts.fact %> </p>  
<p><a href='/next'>Get Next Fact.</a></p>      
</body>
</html>
